.TeamPage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    .team-name-section {
        grid-column: span 3;
        justify-self: start;
        align-self: end;

        .team-name { /*it is possible to write in this nested way cos of sass*/
            font-size: 4rem;
            margin-bottom: 20px;
        }
    }
    
    .match-detail-section {
        grid-column: span 4;
    }

    .win-loss-section {
        justify-self: center;
        padding: 40px;
        text-align: center;
    }

    .more-link {
        font-size: 1.5rem;
        align-self: center;
        justify-self: center;
    }
}